<%= provide(:title, @user.name + "'s profile")%>
<h1><%= @user.name + "'s events" %></h1>
<div class='container'>
    <ul class='eventList'>
        <% if @user.events.any? %>
            <%= render @events %>
        <% end %>
    </ul>
</div>
